<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Lilei002">

	<insert id="insertMeeting"
		parameterType="com.md.mybatis.dto.MeetingDto">
		insert into meeting (title,content,address,sender,startTime,endTime) values (#{title},#{content},#{address},#{sender},#{startTime},#{endTime})
	</insert>

	<delete id="deleteMeeting" parameterType="int">
		delete from meeting where id= #{id}
	</delete>

	<update id="updateMeeting"
		parameterType="com.md.mybatis.dto.MeetingDto">
		update meeting
		<set>
			<if test="title!=null and title!=''">title = #{title},</if>
			<if test="content!=null and content!=''">content = #{content}</if>
		</set>
		where
		id=#{id}
	</update>
	
	<select id="selectCount" resultType="int">
		select count(1) from meeting
	</select>
	
	<select id="selectMeeting"
		resultType="com.md.mybatis.dto.MeetingDto"
		parameterType="com.md.mybatis.dto.MeetingDto">
		select id,
		title,
		content,
		address,
		startTime,
		endTime,
		sender
		from meeting
		<where>
			<if test="title!=null and title!=''">title = #{title}</if>
			<if test="content!=null and content!=''"> and content = #{content}</if>
		</where>
	</select>


	<select id="selectMeetingMap" resultMap="MeetingMap"
		parameterType="com.md.mybatis.dto.MeetingDto">
		select id,
		title,
		content,
		address,
		startTime,
		endTime,
		sender 
		from meeting
		<where>
			<if test="title!=null and title!=''">title = #{title}</if>
			<if test="content!=null and content!=''"> and content = #{content}</if>
		</where>
	</select>

	<resultMap type="com.md.mybatis.dto.MeetingDto"
		id="MeetingMap">
		<result property="id" column="id" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="address" column="address" />
		<result property="startTime" column="startTime" />
		<result property="endTime" column="endTime" />
		<result property="sender" column="sender" />
	</resultMap>
</mapper>