package ${package.Dao};

import java.util.List;

import ${package.Info}.${po};
import ${package.BizBean}.${vo};
import ${superDaoClassPackage};

/**
 * ${table.comment} Dao类
 * @author ${author}
 * @date ${date}
 */
#foreach($field in ${table.fields})
#if(${field.keyFlag})
public interface ${table.daoName} extends ${superDaoClass}<${po}> {
#end#end
    /**
     * 查询列表
     * @param item 查询条件
     * @return
     */
    List<${vo}> getListWhereByPage(Object item);
}
