package ${package.Dto};

import com.meida.backend.basic.dto.BaseParamDto;
import com.meida.base.vo.Pagination;

#if(${superModelClass})
import ${superModelClassPackage};
#end
#if(${table.hasDate})
import java.util.Date;
#end
#if(${table.hasBigDecimal})
import java.math.BigDecimal;
#end
/**
 * ${table.comment} listParamDto
 * @author ${author}
 * @date ${date}
 */
#if(${superModelClass})
public class ${table.baseName}ListParamDto extends ${superModelClass} {
#else
public class ${table.baseName}ListParamDto extends BaseParamDto{
#end

	private static final long serialVersionUID=1L;

    private Pagination pagination;

	#foreach($field in ${table.fields})
/**
	 * ${field.comment}
	 */
	private ${field.propertyType} ${field.propertyName};
	#end

	#foreach($field in ${table.fields})
    #if(${field.propertyType.equals("Boolean")})
        #set($getprefix="is")
    #else
        #set($getprefix="get")
    #end

	/**
	 * 获取  ${field.comment}
	 */
	public ${field.propertyType} ${getprefix}${field.capitalName}(){
        return ${field.propertyName};
	}

	/**
	 * 设置  ${field.comment}
	 */
	public void set${field.capitalName}(${field.propertyType} ${field.propertyName}){
	    this.${field.propertyName} = ${field.propertyName};
	}
	    #if(${modelBuliderModel})
	    return this;
	}
	    #end
	#end

	#if(${modelColumnConstant})
	    #foreach($field in ${table.fields})
	    public static final String ${field.name.toUpperCase()} = "${field.name}";
	    #end
	#end

    public Pagination getPagination() {
        return pagination;
    }

    public void setPagination(Pagination pagination) {
        this.pagination = pagination;
    }

}
