package ${package.Service};

import java.io.Serializable;
import java.util.List;

import ${package.Info}.${po};
import ${package.Dto}.*;
import com.meida.backend.basic.dto.*;
#if(${superServiceClass})
import ${superServiceClassPackage};
#end

/**
 * ${table.baseName}业务接口
 * ${table.comment}
 * @author ${author}
 * @date ${date}
 */
#if(${superServiceClass})
public interface ${table.serviceName} extends ${superServiceClass} {
#else
public interface ${table.serviceName} {
#end
     /**
      * 查询单条记录
      *
      * @param id
      * @return
      */
      ${po} getObjectById(Serializable id);

     /**
      * 查询多条记录
      * @param whereItemDto
      * @return
      */
     List<${po}> getListPage(${table.baseName}ListDto whereItemDto);

     /**
      * 获取所有记录
      *
      * @return
      */
     List<${po}> getListByAll();

     /**
      * 获取所有有效记录
      *
      * @return
      */
     List<${po}> getListByValid();

     /**
      * 提交
      *
      * @param submitDto
      * @return
      */
     boolean submit(${table.baseName}SubmitDto submitDto);

     /**
      * 删除（无特殊要求一般为逻辑删除）
      *
      * @param deleteDto
      * @return
      */
     boolean delete(DeleteDto deleteDto);

     /**
      * 启用
      *
      * @param enableDto
      * @return
      */
     boolean enable(EnableDto enableDto);

     /**
      * 禁用
      *
      * @param disableDto
      * @return
      */
     boolean disable(DisableDto disableDto);

     /**
      * 物理删除
      *
      * @param physicalDeleteDto
      * @return
      */
     boolean physicalDelete(PhysicalDeleteDto physicalDeleteDto);
}
