body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, label, button, input, select, option, textarea, optgroup, table, thead, tbody, tfoot, tr, th, td, div, span, img, a, em, i, iframe, :before, :after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body, button, input, select, option, textarea, optgroup, img {
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  outline: none;
  border: none; }

textarea {
  resize: none;
  overflow: auto; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none;
  background-color: transparent;
  color: #000; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

article, aside, footer, header, nav, section, figcaption, figure, main, details, menu {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

a, a:hover, a:active, a:visited, a:link, a:focus {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  text-decoration: none; }


.pagination_main{font-size:0; clear:both; margin-top: 10px;padding: 15px 0;text-align: center;background-color: #fff;}
.pagination_main *{display:inline-block; font-size:14px;}
.pagination_main a{margin:0 3px 6px;padding:0 4px;*padding:0 2px;text-decoration:none;height:26px; line-height:26px; text-decoration:none; color:#666;}
.pagination_main span{margin:0 3px 6px; padding:0 4px;*padding:0 2px;height:26px; line-height:26px;}
.pagination_main input{ border:1px solid #ccc; background-color:#fff;}
.pagination_main label{margin:0 3px 6px; padding:0 4px;*padding:0 2px;height:26px; line-height:26px;}
.pagination_main .pagination_prev {}
.pagination_main .pagination_next {}
.pagination_main .pagination_input{width:30px; height:22px; line-height:22px; margin:0 5px; padding:0 5px;}
.pagination_main .pagination_button {
    border: none;
    cursor: pointer;
    height: 24px;
    line-height: 24px;
    margin-left: 5px;
    padding: 0 10px;
    *padding: 0 5px;
    color: #ffffff;
    background-color: #1ba794;
}
