<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 构造器注入 -->
	<!-- id：标识容器中的bean。id唯一。 -->
	<!-- class：bean的全类名，通过反射的方式在IOC容器中创建Bean，所以要求Bean中必须有无参的构造器 -->
	<bean id="helloworld" class="com.meida.test.spring.HelloWorld">
		<!-- 属性注入：通过setter方法注入Bean的属性值或依赖的对象 -->
		<!-- 属性注入使用<Property>元素，使用name指定Bean的属性名称，使用value指定Bean的属性的值 -->
		<property name="name" value="欢迎来到Spring"></property>
	</bean>
	
	<!-- 构造器注入  带参数构造方法 -->
	<bean id="helloworld2" class="com.meida.test.spring.HelloWorld">
		<!-- 通过有参构造来进行属性注入  注意：name必需对应HelloWorld构造方法的s-->
		<constructor-arg name="s" value="222222"></constructor-arg>
		<property name="name" value="欢迎来到Spring222"></property>
	</bean>
</beans>